@font-face {
   font-family: "Nissan Brand Regular";
   src: url("fonts/Nissan Brand Regular.woff") format("woff"), url("fonts/Nissan Brand Regular.eot") format("embedded-opentype"), url("fonts/Nissan Brand Regular.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}